.sass-cache
node_modules
package-lock.json
_site

# Terraform
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.crash
terraform/.terraform/
terraform/*.tfvars
terraform/override.tf
terraform/override.tf.json
terraform/*_override.tf
terraform/*_override.tf.json
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.backup